@model BookStore.Models.Order

@{
    ViewBag.Title = "Details";
}

@{
    decimal totalPrice = 0;
}
<div class="container">
    <h2 class="text-center">Order</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.OrderId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OrderId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustomerId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
        </dl>
    </div>

    <div>
        <h4 class="text-center">Details</h4>
        <table class="table">
            <tr>
                <th>Book</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            @foreach (var orderDetail in Model.OrderDetails)
            {
                <tr>
                    <td>@orderDetail.Book.Title</td>
                    <td>@orderDetail.Quantity</td>
                    @{
                        decimal total = orderDetail.Quantity * orderDetail.Book.Price;
                        totalPrice += total;
                    }
                    <td>$ @total</td>
                </tr>
            }
            <tr>
                <td><b>Total Order:</b></td>
                <td></td>
                <td>$ @totalPrice</td>
            </tr>
        </table>
    </div>

    @if (User.IsInRole("Admin"))
    {
        <a href="/Order">
            <button class="btn btn-primary">
                Back To List
            </button>
        </a>
    }
</div>
